* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: blue;
    font-family: $OpenSans-Bold;
}

.container{
    margin: 0 auto;
    padding: 0 15px;
}

.logo-react{
    background: url('./imgs/logo.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100px;
    height: 105px;
    margin: 0 auto;
}